DATABASE_URL=
JWT_SECRETKEY=
JWT_EXPIRESIN=
EMAIL_FROM=StepupVest <verification@stepupvest.com>
EMAIL_USER=verification@stepupvest.com
EMAIL_PASS=GTKh5p3etVDfpb6
EMAIL_HOST=stepupvest.com
FRONTEND_URL=
DATABASE_TYPE=postgres
PAYSTACK_SECRET=
SMS_API_URL=
SMS_TOKEN=